@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #e6e6e6;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
header{
    background-color: #1a1a1a;
    padding:10px;
    color:#e4e4e4;
}
#barra-abajo{
    background-color: #c03434;
    font-size: 12px;
    color:#b4b4b4;
    padding:5px;
}
#barra-abajo a{
    color:#1a1a1a;

}
#barra-abajo a:hover{
    color:#940f0f;
    text-decoration: none;
}

#contacto{
    font-size: 12px;
    text-align: right;
}
.register-boton{
    background-color: #1a1a1a;
    border-radius: 1rem;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 14px;
    color: #c03434;
    transition: transform 0.2s ease;
    margin: 2%;
    
}
.register-boton:hover{
    transform: scale(1.1);
}
.banner{
    width: 100%;
}
footer{
    background-color: #1a1a1a;
    color: rgb(153, 153, 153);
    padding: 50px;
    font-size: 12px;
}
footer a{
    color:#7c1d1d;
}

footer a:hover{
    color:#631414;
    text-decoration:none;

}
