<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Productos</title>
</head>
<body>
    <div id="mensaje" style="display: none;">
        <p>No se puede agregar productos. Inicie sesión como empresa para continuar.</p>
    </div>
    <form id="formularioProducto" enctype="multipart/form-data" style="display: block;">
        <label for="Nombre">Nombre del Producto:</label><br>
        <input type="text" id="Nombre" name="Nombre" maxlength="100" required> <br>

        <label for="Descripcion">Descripción:</label><br>
        <textarea id="Descripcion" name="Descripcion" maxlength="255" required></textarea><br>

        <label for="Precio">Precio:</label><br>
        <input type="number" id="Precio" name="Precio" step="0.01" min="0" required><br>

        <label for="Cantidad">Cantidad:</label><br>
        <input type="number" id="Cantidad" name="Cantidad" min="0" required><br>

        <label for="Categoria">Categoría:</label><br>
        <select id="Categoria" name="Categoria" required>
            <option value="Electronica">Electrónica</option>
            <option value="Hogar y cocina">Hogar y cocina</option>
            <option value="Moda y ropa">Moda y ropa</option>
            <option value="Juguetes y Juegos">Juguetes y Juegos</option>
            <option value="Deportes">Deportes</option>
            <option value="Salud y Belleza">Salud y Belleza</option>
            <option value="Libros y medios">Libros y medios</option>
            <option value="Automóviles">Automóviles</option>
            <option value="Mascotas">Mascotas</option>
            <option value="Alimentos y bebidas">Alimentos y bebidas</option>
            <option value="otros">Otros</option>
        </select><br>

        <label for="imagenes">Seleccionar hasta 4 imágenes:</label><br>
        <input type="file" id="imagen1" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen2" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen3" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen4" name="imagenes[]" accept="image/*"><br>

        <button type="submit">Guardar Producto</button>
    </form>

    <script src="../../assets/js/empresas/agregar_producto.js"></script>
</body>
</html>
