<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/empresas/style.css">
    <link rel="icon" href="/imagenes/icono-blanco.ico" type="image/x-icon">
</head>
<body>

        <header class="container-fluid">
            <section class="row row justify-content-between align-items-center">
                <article class="col-md-1 mt-2 mt-md-0 col-1 d-flex justify-content-start">
    
                </article>
                <article class="col-md-1 mt-2 mt-md-0 col-3 d-flex justify-content-start">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAfFJREFUSEuVVUt2wjAMlGhXCb0DvQSfruBkPE7Sq2QHOQW9Q3FWBfdJ8UeynNBmkziWJc2MJCOkBwHAA+gX74Zf5tucDT+UfV4gIHgKkV1KS3mY/89uqrRLDGl9Xi73L94fPcCeI5NPesI3AnT3BZ5237cuoykQTyVDB/q2vQL4VfasAzBWD916GA4ZfS2AgT8aXdqWGds4F3MfLUNWfduE/QFHWKViKjUrcgywdQ4j5RIx7dPaJFDIyGHO7dv+1T+OD+I7PpJ3SbL8ZhsqDioScuW7H1ycPm6jLgl63zZXAFxFAf/s28pCTrv14A6x6tlk5BNhMzjSS3HNAlb6o1Y5yU/QTSDQgpr+MOWm+yCuykQxb4QABoEsO9mMWpQYv2+KRGUAw3ulubLbikriV6wsg2CqWFQLzxvxbiVAELlsquCsD00XfafaD9zETjYaxAPkgBBuWQM9+OjwhbjFzEG1ucbxorpfUcQBGMH0gK7MUDUgUqK1Ms0BdOWYe2JmQhoEkiIWp1KmMsU6tkApAvSNbNhxfIROnpiciq7n5ZMQJC1zgCsArP5bjso+18DXxrl3IjqJTLfXwvvPGCQMSRYjn5vtvMhkd0c87dytU8Pu6dX+ZBZl8ooZZUSTjVOZoNMFXA8hrkLpTQ81U/uzUbT1L3TzKyv5/09dAAAAAElFTkSuQmCC" width="30">
                </article>
                <article class="col-md-3 mt-2 mt-md-3 col-3 d-flex justify-content-start">
                    <p><b>VENDE CON WEBON</b></p>
                </article>
                <article class="col-md-6 mt-2 mt-md-0 col-4 d-flex justify-content-end">
                    <p id="contacto">Contacto <br> +598 99 123 456</p>
                </article>
                <article class="col-md-1 mt-2 mt-md-0 col-1 d-flex justify-content-start">
    
                </article>
            </section>
        </header>   
        <main class="container-fluid" id="barra-abajo">
            <section class="row justify-content-between align-items-center">
                <article class="col-md-1 mt-2 mt-md-0  d-flex justify-content-start">
                </article>
                <article class="col-md-1 mt-2 mt-md-0 col-3 d-flex justify-content-center">
                    <a href="home.html" class="segunda-linea"><b>Inicio</b></a>
                </article>
                <article class="col-md-2 mt-2 mt-md-0 col-3 d-flex justify-content-center">
                    <a href="#beneficios" class="segunda-linea"><b>Cómo funciona</b></a>
                </article>
                <article class="col-md-1 mt-2 mt-md-0 col-3 d-flex justify-content-center">
                    <a href="#beneficios" class="segunda-linea"><b>Beneficios</b></a>
                </article>
                <article class="col-md-6 mt-2 mt-md-0 col-2 d-flex justify-content-end">
                    <a href="cuenta.html"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAb5JREFUSEuNVeG5wjAIPDapkzxH0UmencS+SXQTuwmvJKSBkNjmR/1MCAfHQQiDRQDYnqUN3bU/uk/grj3Ze8mf91EhLGJA369VF8aPnh54COgdlA4bYrWvM1dGNoEJ9ZoB8q0XgKsL4isVhMR7qEfysAC4F9fFp6npmVwO5JHw5VPXAMCDfaPCqS7zogDZR3OOC4AVwGdLeco0BrCVIXY0ASx2VYYRgDgpv/q4g7CA6QnwbSDfwrXUTmrYasZSRFyLllAeIMxgmgj8YsnCL8lOspT1u30eYwBLkadC0l8JPDHhKWAAC10LGLNS2ES/U2BqkKENw7sEV3CS2zvKN9lcmfDqzAih2qhIM6j0+67eMliY8AfGSoAU9gbQj61NDaDJwLiKs20kdVWLbbQhQL8PrJjOTLYon9Rj40b7GnrnsNv5gyIHWy34gdv+NUJ+D4KKDjKwA25kmuPyALbTg6I6IdY3zyOafwqQm+uTGuosw8WuP/1WEC5l8hTJSEc+ty6d/Ehqx0uZV6FXCtXSlDMI71ZFMXbvo5mFaq4Z1EffiyJJKU7KMJY1Osv1qD8sgFdRDqkraUf4Hvqok+3+P4p52CD1H2RBAAAAAElFTkSuQmCC" title="Tienda de la empresa" class="cuenta-empresa"></a>
                </article>
                <article class="col-md-1 mt-2 mt-md-0 col-1 d-flex justify-content-start">
    
                </article>
            </section>
        </main> 
    <div id="mensaje" style="display: none;">
        <p>No se puede agregar productos. Inicie sesión como empresa para continuar.</p>
    </div>
    <form id="formularioProducto" enctype="multipart/form-data" style="display: block;">
        <label for="Nombre">Nombre del Producto:</label><br>
        <input type="text" id="Nombre" name="Nombre" maxlength="100" required> <br>

        <label for="Descripcion">Descripción:</label><br>
        <textarea id="Descripcion" name="Descripcion" maxlength="255" required></textarea><br>

        <label for="Precio">Precio:</label><br>
        <input type="number" id="Precio" name="Precio" step="0.01" min="0" required><br>

        <label for="Cantidad">Cantidad:</label><br>
        <input type="number" id="Cantidad" name="Cantidad" min="0" required><br>

        <label for="Categoria">Categoría:</label><br>
        <select id="Categoria" name="Categoria" required>
            <option value="Electronica">Electrónica</option>
            <option value="Hogar y cocina">Hogar y cocina</option>
            <option value="Moda y ropa">Moda y ropa</option>
            <option value="Juguetes y Juegos">Juguetes y Juegos</option>
            <option value="Deportes">Deportes</option>
            <option value="Salud y Belleza">Salud y Belleza</option>
            <option value="Libros y medios">Libros y medios</option>
            <option value="Automóviles">Automóviles</option>
            <option value="Mascotas">Mascotas</option>
            <option value="Alimentos y bebidas">Alimentos y bebidas</option>
            <option value="otros">Otros</option>
        </select><br>

        <label for="imagenes">Seleccionar hasta 4 imágenes:</label><br>
        <input type="file" id="imagen1" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen2" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen3" name="imagenes[]" accept="image/*"><br>
        <input type="file" id="imagen4" name="imagenes[]" accept="image/*"><br>

        <button type="submit">Guardar Producto</button>
        <button onclick="window.location.href='cuenta.html'">Cancelar</button>
    </form>

    <script src="../../assets/js/empresas/agregar_producto.js"></script>
    <footer class="container-fluid">
        <section class="row justify-content-center">
            <article class="col-md-3">
                <h5>Información útil</h5>
                <ul class="list-unstyled">
                    <li><a href="../../vista/TIENDA/acerca.html">¿Qué es VENDE CON WEBON?</a></li>
                    <li><a href="../../vista/TIENDA/index.html">Vende con WEBON</a></li>
                    <li><a href="../../vista/TIENDA/ayuda-usuario.html">Centro de ayuda en línea</a></li>
                    <li><a href="../../vista/TIENDA/terminos.html">Términos y Condiciones</a></li>
                </ul>
            </article>
            <article class="col-md-3">
                <h5>Todo en un solo lugar</h5>
                <ul class="list-unstyled">
                    <li>✔ Plataforma segura y confiable</li>
                    <li>✔ Gestión fácil de ventas</li>
                    <li>✔ Análisis y reportes de compras detallados</li>
                    <li>✔ Soporte dedicado 24/7</li>
                </ul>
            </article>
            <article class="col-md-3">
                <h5>Vende con confianza</h5>
                <p>En nuestra plataforma, garantizamos una experiencia de compra segura y fiable. Cada transacción está respaldada por protocolos avanzados de seguridad, asegurando que tus datos y pagos estén siempre protegidos.</p>
    
            </article>
            <article class="col-md-3">
                <h5>Contacto</h5>
              
                    <li><a href="#">Preguntas Frecuentes / Contacto</a></li>
                    <li><a href="../../views/tienda/home.html">Compra con nosotros</a></li>
                    <li><a href="#">Propiedad Intelectual</a></li>
                    <li><a href="#">Política de Calidad</a></li>
                </ul>
            </article>
        </section>
        <hr>
        <section class="row">
            <article class="col-md-6 text-end">
                <p>Desarrollado por:</p>
                <img src="../../assets/img/logoWebOn.png" alt="WebOn Studios Logo" height="90">
                <p>WebOn Studios</p>
            </article>
        </section>
    </footer>
</body>
</html>
