<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Vende con</h1>
    <p>Impulsa tu negocio al siguiente nivel: en nuestra plataforma, tus productos llegan a los clientes ideales de manera rápida y fácil. Aquí, cada venta cuenta, cada producto tiene visibilidad, y cada empresa tiene la oportunidad de crecer. Únete y descubre una manera sencilla y efectiva de hacer crecer tus ventas en el mercado digital.</p>
    <button onclick="window.location.href='register.html'">Registra tu empresa aquí</button>
</body>
</html>