<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Empresa</title>
</head>
<body>
    <h2>Registro de Empresa</h2>
    <form id="formRegistro"> 
        <label for="ci">Cédula de empresa:</label>
        <input type="text" id="ci" name="ci" required><br>
    
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
    
        <label for="contrasena">Contraseña:</label>
        <input type="password" name="contrasena" id="contrasena" required><br>
    
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion"><br>
        
        <label for="logo">Logo:</label>
        <input type="file" id="logo" name="logo" accept="image/*"><br>
        
        <label for="paypalId">ID de PayPal:</label>
        <input type="text" id="paypalId" name="paypalId" required><br>


        <p>¿Ya vendes con nosotros?<a href="login.html">Inicia sesión aquí.</a></p>
    
        <button type="submit">Registrarse</button>
    </form>
    
    <script src="../../assets/js/empresas/register.js"></script>
</body>
</html>
