<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión para Me Gusta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 text-center">
        <h2>Inicia sesión para darle Me Gusta</h2>
        <p>Debes iniciar sesión para poder marcar productos como favoritos.</p>
        <a href="login.html" class="btn btn-primary">Ir a Iniciar Sesión</a>
    </div>
</body>
</html>
