<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1 class="my-4">Datos de Empresa</h1>
        <table class="table table-bordered" id="tabla-empresa">
            <thead>
                <tr>
                    <th>ID Empresa</th>
                    <th>Email</th>
                    <th>CI Root</th>
                    <th>Contraseña</th>
                    <th>Dirección</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h1 class="my-4">Datos de Producto</h1>
        <table class="table table-bordered" id="tabla-producto">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>Precio</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h1 class="my-4">Datos de Usuarios</h1>
        <table class="table table-bordered" id="tabla-usuarios">
            <thead>
                <tr>
                    <th>ID Usuario</th>
                    <th>Email</th>
                    <th>CI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Contraseña</th>
                    <th>Suspensión</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
    <script src="../../assets/js/backoffice/principal.js"></script>
</body>
</html>
